---
import {SITE_NAME, BRAND, LEGAL_CITY_WHERE, TIMER_ENDTIME, MARQUEE} from '@/const.js';
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner/Banner.astro';
import PageTitle from '@/components/PageTitle/Index.astro';
import Timer from '@/components/Timer/Timer.astro';
import ModelList from '@/components/Model/ModelList.astro';
import LatestPosts from '@/components/LatestPosts/Index.astro';
import Model from '@/components/Model/Model.astro';
import ModelComplectations from '@/components/Model/Complectations.astro';
import Callback from '@/components/Callback.astro';
import Services from '@/components/Services.astro';
import Contacts from '@/components/Contacts.astro';
import Morquee from '@/components/Marquee/Index.astro';
import models from '@/data/models.json'
import salons from '@/data/salons.json'
const modelsWithComplectations = models.filter(m => (m?.complectations !== undefined && m?.complectations.length))
const salonsPhone = salons.map((salon: any) => { return salons[0].phone }).join(', ');
import SeoText from '@/components/Seo/Index.astro';

const iSpaceModel = models.find(model => model.id === 'i-space');
const infoLinks = [
	{title: 'Прайс-листы', url: 'https://www.evolute.ru/media-link/i-space-pricelist', target: '_blank'},
	{title: 'Брошуры', url: 'https://www.evolute.ru/media-link/i-space-brochure', target: '_blank'},
	{title: 'Руководства пользователя', url: 'https://www.evolute.ru/media-link/i-space-manual', target: '_blank'}
];
---

<Layout title=`Купить ${BRAND} у официального дилера ${SITE_NAME}` description=`Забронируйте свой автомобиль прямо сейчас у официалоного дилера ${BRAND} в ${LEGAL_CITY_WHERE}! ☎️ ${salonsPhone}`>
	<Banner />
	{MARQUEE.show && <Morquee marquee={ MARQUEE } />}
	<PageTitle />
	{TIMER_ENDTIME && <Timer endtime={TIMER_ENDTIME} title="До конца акции осталось" subtitle="Подзаголовок" />}
	<Model model={iSpaceModel} />

	<section class="information bg-gray-50">
		<div class="container">
			{infoLinks.map(link => (
				<a href={link.url} class="py-[2vw] flex items-center gap-x-5 text-xl font-medium transition-colors hover:text-accent-300 first:border-t border-b" { ...link?.target ? {target: link.target} : {} }>
					<span class="">{link.title}</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="none" class="size-[60px] text-orange">
						<path d="M12 30H48L30 12" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12 30H48L30 48" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			))}
		</div>
	</section>

	<ModelComplectations model={iSpaceModel} brand={BRAND} />
	<Callback bgUrl="/img/konkurenty.webp" />
	<Services />
	<SeoText mdx="index" />
	<Contacts
		mapImg="/img/map-bg.webp"
		title="Наши контакты"
	/>
</Layout>
